@import url('http://fonts.googleapis.com/css?family=Droid Arabic Kufi');
body {  
  font: 0.813em/1.5em 'Droid Arabic Kufi', sans-serif !important;
  direction:rtl !important;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Droid Arabic Kufi';}
 


.top-header{
  background: url(../images/header_bg.jpg) top left no-repeat #fff;
  direction:rtl;    
}

.logo {margin:30px 10px 10px 10px;
  text-align: right !important;
}
