Manifest-Version: 1.0
Ant-Version: Apache Ant 1.7.0
Created-By: 10.0-b23 (Sun Microsystems Inc.)
Implementation-Title: Oracle WebCenter Spaces Application Extension
Extension-Name: @LIBRARY_NAME@
Specification-Version: 11.1.1
Implementation-Version: @IMPLEMENTATION_VERSION@
Implementation-Vendor: @CUSTOMER_NAME@
